@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

header {
  margin-top: 0px;
  background-color: #282c34;
  display: flex;
  height: 200px;
  flex-direction: column;
  text-align: center;
  color: white;
  align-items: center;
  font-family: Ubuntu;
}

img {
  margin-top: 20px;
  display: flex;
  width: 25%;
  border-radius: 5px;
}

.header_title{
  margin-top: 25px;
}


.App-header-text {
  font-size: 16px;
}

.App-shop {
  padding: 1rem 1rem 3rem;
}

.App-products {
  margin: 3rem auto 3.5rem;
  max-width: 800px;
  text-align: center;
}

@media (min-width: 800px) {
  .App-products {
    display: flex;
    justify-content: center;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
